<%- include('partials/_header') -%>

  <body>

    <!-- Navigation -->
    <%- include('partials/_navigation') -%>
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= post.title %>
                </h1>
                <p>
                  Posted by <%= post.name %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p class="subheading">
                <%= post.detail %>
              </p>
              <span class="meta" style="font-size: 14px; margin: 0; padding: 0; float: right;">
                <%= post.dateCreated %>
              </span>
            </div>
          </div>

          <div class="row mt-3">

            <a href="/posts/edit/<%= post._id %>" type="button" class="offset-4 mr-1 col-2 btn btn-primary tm-btn-animate tm-btn-download tm-icon-download ">Edit
              Post</a>
            <a href="/posts/<%= post._id %>?_method=DELETE" type="button" onclick="return confirm('Are You Sure?')" class=" col-2 ml-1 btn btn-primary tm-btn-animate tm-btn-download tm-icon-download ">Delete
              Post</a>

          </div>

        </div>
      </article>

      <hr>

      <!-- Footer -->
      <!-- Bootstrap core JavaScript -->
      <!-- Custom scripts for this template -->
      <%- include('partials/_footer') -%>

  </body>

  </html>